.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.createButton{
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.createButton:hover{
    background-color: #00bcd4;
}

.ChallengeMakerModalContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    min-width: 100vw;
}

.input{
    width: 50%;
    height: 50px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.button{
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.select{
    width: 15%;
    height: 50px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.optionView{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textarea{
    width: 50%;
    height: 100px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.twoWayView{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 20px;
}

