@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
 --font :  'Roboto Flex', serif;
 --font2 : 'Rokkitt', serif;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
    font-family: var(--font2);
}

.nav{
    display:  flex;
    flex-direction: column;
}

.bar{
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar{
    position: absolute;
    left: 0;
    top: 0;
}

.screen{
    margin: 5vh 0 0 15vw;
}